@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
span {
    position: relative;
    width: 80px;
    height: 29px;
    left: 450px;
    top: 23.42px;
    color: #D4BF73;
    font-family: Alegreya Sans;
    font-size: 24px;
    line-height: 29px;
}

span::before,
span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

span::before {
    top: 0;
    transform-origin: center right;
}

span:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}

span::after {
    bottom: 0;
    transform-origin: center left;
}

span:hover::after {
    transform-origin: center right;
    transform: scaleX(1);
}

body {
    position: relative;
    display: block;
    height: 1024px;
    top: 0px;
    background-color: #262630;
}

.logo {
    position: absolute;
    width: 213.63px;
    height: 63.19px;
    left: 158.34px;
    top: 7.13px;
    mix-blend-mode: normal;
}

.oxx {
    position: absolute;
    width: 426.52px;
    height: 439.33px;
    left: 1100px;
    top: 554px;
}

.left {
    position: absolute;
    width: 134.34px;
    height: 285.18px;
    left: -16px;
    top: 10px;
}

.right {
    position: absolute;
    width: 132.91px;
    height: 285.89px;
    left: 1402px;
    top: 10px;
}

.pho {
    position: relative;
    width: 790.6px;
    height: 949.99px;
    left: 461.35px;
    top: 26.04px;
}


/* .square {
    position: absolute;
    width: 739.69px;
    height: 380.58px;
    left: 0px;
    top: 490.72px;
    background: #22222D;
} */

.text {
    position: absolute;
    width: 320.84px;
    height: 168px;
    left: 1100px;
    top: 365px;
    color: white;
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 84px;
}